body{
    height: 100%;
    background:url(https://wallpaperaccess.com/full/1533412.jpg) no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    opacity:0.9;
    background-color: Black;
    z-index:8;
}
@media (min-width: 992px) {
    .navbar {
        height:100px;
    }
}
.navbar-brand{
    font-size: 25px;
    font-family: 'Jost', sans-serif;
}
.divAdd h1 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 35px;
}

.main{
    margin:50px 15px;
}

h1.title { 
    font-size: 50px;
    font-family: 'Passion One', cursive; 
    font-weight: 400; 
}

hr{
    width: 10%;
    color: #fff;
}

.form-group{
    margin-bottom: 15px;
}

label{
    margin-bottom: 15px;
    color: white;
}

input
{
    font-size: 15px;
    padding-top: 3px;
}

.main-login{
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}
.form-control {
    height: auto!important;
    padding: 8px 12px !important;
}
.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}

.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 400px;
    padding: 10px 40px;
    background:#009edf;
    color: #FFF;
    text-shadow: none;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    border: 3px solid #f8f8f8;

}
span.input-group-addon i {
    color: #009edf;
    font-size: 17px;
}

.login-button{
    margin-top: 5px;
}

.login-register{
    font-size: 11px;
    text-align: center;
}

/* Accueil btn */

.btn {
    background-color: #f8f8f8;
    border: 2px solid grey;
}

.liens-pages .btn i {
    margin-top: 15px;
}
.btn-sq-lg {
    width: 150px;
    height: 150px;
}

.btn-sq {
    width: 100px;
    height: 100px;
    font-size: 10px;
}

.btn-sq-sm {
    width: 50px;
    height: 50px;
    font-size: 10px;
}

.btn-sq-xs {
    width: 25px;
    height: 25px;
    padding:2px;
}

.liens-pages {
    text-align: center;
}
.liens-pages a {
    text-align: center;
    margin-top: 50px;
    margin-left: 20px;
}
.liens-pages p {
    margin-top: 20px;
}

/* Tableau de la liste des patients */
.divList a {
    text-align: center;
}
.divList h1 {
    color: #f8f8f8;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 35px;
}

/* Profil du patient */

.divProfil {
    height: auto;
    background-color: #f8f8f8;
    border: 2px solid grey; 
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
}

.infoUser h1 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 25px;
}

.infoUser p {
    display: inline;
    text-align: right;
    font-weight: bold;
}

.infoUser img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.infoUser h2 {
    display: inline;
    font-size: 15px;
}

.imgUser {
    text-align: center;
}

.imgUser i {
    margin-top: 50px;
    margin-bottom: 30px;
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.inputError{
    color:red;
}
.formValid{
    color: #00EE00;
}

.table-rdv {
    background-color: white;
    text-align: center;
}

.table-rdv th {
    border-color: black;
    text-align: center;
}
h4
{
  background-color: white;
}
.whitetext
{
 color:white;
}